<div class="jumbotron bg-primary">
    <h1 class="text-center">BURGER CRUSH!</h1>
    <hr>



    <h2>Name a burger you want to CRUSH!</h2>


    <form action="/burgers" method="POST">
        <input type="text" id="name" name="burger_name" placeholder="Burger Name" class="form-control float-left" style="width:33%">
        <button type="submit" class="btn btn-dark" class="addBurgerButton float-left">+</button>
    </form>


</div>
<main>




    <br>
    <hr>

    <div class="container">
        <div class="row">


            <div class="card-fluid shadow-p-3">

                <div class="card-body bg-light fluid">
                    <div class="card-title">
                        <h3 class="text-center">
                            BURGERS YOU CRUSHED</h3>
                        <hr>
                    </div>


                    <ul>
                        <ul>
                            <P class="text-center">{{#each burgers}}</p>
                        </ul>
                        <p class="text-center">{{#unless this.devoured}}</p>
                    </ul>
                    <div>
                        <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                            <button class="btn btn-danger" type="submit" class="burgerAvailable">
                                <p class=" text-light">EAT THIS BURG NOW:</p>
                                {{this.burger_name}}
                            </button>
                        </form>
                    </div>

                    {{/unless}}
                    {{/each}}



                    {{#each burgers}}
                    <ul>{{#if this.devoured}}</ul>

                    <li id="a">{{this.burger_name}}</li>


                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    </div>

    <br>
    <footer class="text-center center-block float-right shadow-p3 fixed-bottom" id="getInTouch">
        <h3>
            <p class="txt-railway">- Follow Me -</p>
        </h3>
        <br />
        <a href="http://github.com/mikefox17" target="_blank" class="btn-social btn-github"><i class="fa fa-github fa-3x"></i></a>
        <a href="https://www.linkedin.com/in/michaelfoxdownstairs/" target="_blank" class="btn-social btn-linkedin"><i
                class="fa fa-linkedin fa-3x"></i></a>

        <a href="http://twitter.com/foxdownstairs" target="_blank" class="btn-social btn-twitter"><i class="fa fa-twitter fa-3x"></i></a>
        <a href="http://instagram.com/thefoxdownstairs" target="_blank" class="btn-social btn-instagram fa-3x"><i class="fa fa-instagram"></i></a>

    </footer>

</main>