<footer class="text-center center-block">
    <h3>
        <p class="txt-railway">- Follow Us -</p>
    </h3>
    <br />
    <a href="http://facebook.com" target="_blank" class="btn-social btn-facebook"><i class="fa fa-facebook fa-3x"></i></a>
    <a href="http://twitter.com" target="_blank" class="btn-social btn-twitter"><i class="fa fa-twitter fa-3x"></i></a>
    <a href="http://instagram.com" target="_blank" class="btn-social btn-instagram fa-3x"><i class="fa fa-instagram"></i></a>

</footer>